.header
  .__area
    .--left
      .__title
        = link_to "Rug_Log", root_path

        -# Rug_Log
    .--right
      .__menuicon
        = link_to image_tag("newpen_icon.png", class: "iconImg"), logs_path


        -# = link_to logs_path(current_user) do
        -#   = image_tag("newpen_icon.png", class: "iconImg")
        - if user_signed_in?
          = link_to destroy_user_session_path(current_user) do
            = image_tag("signout_icon.png", class: "iconImg")
        - else
          = link_to new_user_session_path(current_user) do
            = image_tag("login_icon.png", class: "iconImg")
        = image_tag("mypage_icon.png", class: "iconImg")
%body
  = render 'layouts/notifications'
  = yield