.main
  .center
    .__block
      - @logs.each do |log|
      - @category = Category.all
        .topline
          .text
            = log.category.name
        .team
          .name_a
            = log.team_a
          .vs vs
          .name_b
            = log.team_b
          
        .score
          .__a
            = log.score_a
          .__b
            = log.score_b
        .body
          .dataline
            .day
              = log.matchData
            .how
              = log.how
            .location
              = log.location
          .report
            = log.body
        .underline
          .text 編集