.main
  .center
    - @logs.each do |log|
    - @category = Category.all
      .__block
        .topline
          .text
            = log.category.name
        .team
          .name_a
            = log.team_a
          .vs vs
          .name_b
            = log.team_b
          
        .score
          .__a
            = log.score_a
          .__b
            = log.score_b
          .__acBtn ▼
          
        .body
          .dataline
            .day
              = log.matchData.strftime("%Y年%m月%d日")
            .how
              = log.how
            .location
              = log.location
          .report
            = log.body
          .underline
            .text 
              = link_to 'EDIT', edit_log_path(log.id), method: :get